@import './config.scss';

html,
body {
  @include w-100;
  @include h-100;
  min-width: 950px;
  min-height: 500px;
  @include font-roboto;
  overflow-x: hidden;
  // font-size: 69%;
}


p {
  font-size: var(--font-normal);
}

a {
  text-decoration: none;
}

input {
  box-sizing: border-box
}

#_gaming_platform_{
  @include w-100;
  @include h-100;
}